[gerrit]
	basePath = git
	canonicalWebUrl = http://dockerhost:8080/
	serverId = ca9d5f56-6fa6-4b38-8f87-dd2d03934fb4
[database]
	type = postgresql
	hostname = postgres
	database = reviewdb
	username = gerrit
[index]
	type = LUCENE
[auth]
	type = ldap
	gitBasicAuth = true
[ldap]
	server = ldap://ldap
	accountBase = dc=example,dc=org
	accountPattern = (&(objectClass=person)(uid=${username}))
	accountFullName = displayName
	accountEmailAddress = mail
	groupBase = dc=example,dc=org

[sendemail]
	smtpServer = localhost
[sshd]
	listenAddress = *:29418
[httpd]
	listenUrl = http://*:8080/
[cache]
	directory = cache
[container]
	user = gerrit
	javaHome = /usr/lib/jvm/java-8-openjdk-amd64/jre
[receive]
	enableSignedPush = false
